*{
    margin: 0%;
    padding:0%;
    

}


body{
    font-family: 'Bebas Neue', cursive;
    background-color:indianred;

}


.conteinar{
    background-color: azure;
    max-width:1000px;
    margin:0 auto;
    padding:18px;
}


.profile-img{
    width:100px;
    height:110px;
    border:4px solid hotpink;
    border-radius:60%;
    float: left;
}
.header-bio{
    float: left;
    padding:16px;
}
.hover-color:hover{
    color: black;
   }
h1,h2,h3,h4,h5,h6{
    color:lawngreen;
}

.header-contact a{
    
    text-decoration: none;
    color: teal;
    font-style: italic;
}

.header-contact{
    float: right;
    padding: 20px;
}
.header-contact a:hover{
    text-decoration: underline;
    color: black;

}

.clear-div{
    clear: both;
}
hr{
border: 4px solid black;
width: 100%;
margin:25px auto;
 border-bottom: none;
}


.left-div{
width: 20%;
 float: left;
}

.right-div{
width: 80%;
float: right;
color: aquamarine;
}
    border: solid black 1px;
    width: 100%;
    border-bottom: none;
   
}



.edu-template-left{
    float: left;
    width: 45%;
    padding: 0px 16px;
}
.edu-template-right{
    float: right;
    width: 45%;
    padding: 0px 16px;
}
.bottom-style{
    background-color: black;
    background-position: 1000%;
    text-align: center;
    padding: 8px;
}
.bottom-style a,p{
    color: blue;
    text-decoration: none;
    padding: 10px;
    
}
.bottom-style p:hover{
    color: antiquewhite;
    
}
.bottom-style a:hover{
    color: antiquewhite;
    text-decoration: underline;
}
